In [ ]:
#string
#write a program to reverse a string.

In [1]:
a = str(input("Enter the string"))

Enter the string ruman is a good girl.

In [2]:
rev_str = a[::-1]

In [3]:
print(rev_str)

.lrig doog a si namur

In [4]:
# 2. check string is a palindrome.

In [20]:
a1 = input("Enter the string")

Enter the string noon

In [21]:
l = ""

In [22]:
for i in a1:
    l = i + l
    
if l == a1:
    print("Yes this string is palindrome.")
else :
    print("No this string is not palindrome.")

Yes this string is palindrome.

In [5]:
# 3. covert string lower case

In [24]:
s = str(input("Enter the string"))

Enter the string Ruman Is BEST ENGEner in world.

In [25]:
s.lower()

'ruman is best engener in world.'

In [6]:
# 4. convert string upper case

In [26]:
s1 = str(input("Enter the string"))

Enter the string ruman saba

In [27]:
s1.upper()

'RUMAN SABA'

In [7]:
# 5. count the vowel in string

In [29]:
s2 = str(input("Enter the String"))

Enter the String Ruman saba aa a.

In [30]:
vowels = "aeiouAEIOU"

In [35]:
count = sum(s2.count(vowel) for vowel in vowels)

In [36]:
count

7

In [8]:
##6. count the consonante in string

In [2]:
s3 = str(input("Enter the string"))

Enter the string ruman saba is a student

In [3]:
consonante = 'bcdfghjklmnpqrstvwxyzBCDFGHJKLMNPQRSTVWXYZ'
count = 0
for i in s3 :
    if i in consonante :
        count +=1
print(count)

11

In [28]:
#7. remove whitespace

In [37]:
s4 = str(input("enter the string"))

enter the string a b s d f g

In [39]:
new_str = s4.replace(" ", "")

In [40]:
print(new_str)

absdfg

In [41]:
# 8 count string length without using len()

In [6]:
s5 = str(input("Enter the string"))

Enter the string ruman saba

In [7]:
count = 0

for i in s5 :
    count += 1
    
print(count)

10

In [8]:
# 9 check if a string contain a specific word

In [13]:
s6 = str(input("Enter the string"))

Enter the string ruman saba is student

In [14]:
if "good" in s6 :
    print ("yes")
else :
    print("No")

No

In [15]:
# 10 Replace word in string with another word.

In [16]:
s7 = str(input("enter dthe string"))

enter dthe string ruamn saba is good.

In [22]:
new_text = s7.replace("good", "gooooood")

In [23]:
new_text

'ruamn saba is gooooood.'

In [24]:
# 11 count the occurence word in string

In [30]:
s8 = str(input("enter the string"))

enter the string as in be cut but put root red

In [70]:
count = 0

for i in s8.split() :
        count +=1
        
print(count)

8

In [32]:
#12 find the first occurence of a word in a string.

In [9]:
def find_first_occurrence(text, word):
    # Step 1: Find the index of the first occurrence of the word in the text.
    index = text.find(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the first occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence contains the word example."
word = "example"
result = find_first_occurrence(text, word)
print("Index of the first occurrence:", result)

Index of the first occurrence: 11

In [33]:
#13 find the last occurence of a word in a string.

In [3]:
def find_last_occurrence(text, word):
    # Step 1: Find the index of the last occurrence of the word in the text.
    index = text.rfind(word)

    # Step 2: Check if the index is -1, indicating that the word was not found.
    if index == -1:
        return None  # Return None if the word is not found.

    # Step 3: Return the index of the last occurrence of the word.
    return index

# Example usage
text = "This is an example sentence. This sentence also contains the word example."
word = "an"
result = find_last_occurrence(text, word)
print("Index of the last occurrence:", result)

Index of the last occurrence: 8

In [34]:
# 14 split a string into a list of word.

In [36]:
s11 = str(input("enter the string "))

enter the string  ruman sab a is a good girl.

In [52]:
s11.split()

['ruman', 'sab', 'a', 'is', 'a', 'good', 'girl.']

In [35]:
#15 join a list of word into a string.

In [124]:
l = ["ruman", "saba", "is", "a", "best"]

s12 = ' '
for i in l :
    s12 +=' ' + i 
    
print(s12)

  ruman saba is a best

In [ ]:
#16 Convert a string where words are separated by spaces to one where words
#are separated by underscores.

In [59]:
s13 = str(input("enter the string"))

new_text2 = s13.replace(" ","_")

print(new_text2)

enter the string ruman saba is best.

ruman_saba_is_best.

In [60]:
#17 Check if a string starts with a specific word or phrase.

In [17]:
s14 = str(input("Enter the string"))

check_start_str = s14.startswith(str(input("enter the start word")))

print(check_start_str)

Enter the string ruman is goood
enter the start word good

False

In [61]:
#18 Check if a string end with a specific word or phrase.

In [18]:
s15 = str(input("Enter the string"))

check_end_str = s15.endswith(str(input("enter the start word")))

print(check_end_str)

Enter the string ruman saba is good student
enter the start word student

True

In [62]:
#19 Convert a string to title case (e.g., "hello world" to "Hello World").

In [69]:
s16 = str(input("enter the string"))
s16.title()

enter the string ruman saba is a best

'Ruman Saba Is A Best'

In [63]:
#20 Find the longest word in a string.

In [101]:
s17 = str(input("Enter the string: "))
count = 0
for i in s17.split() :        
    if len(i)>count:
        count = len(i)
        word = i    
print(word, count)

Enter the string ruman saba is gooood

gooood 6

In [64]:
#21. Find the shortest word in a string.

In [119]:
s18 = str(input("enter the string :"))
x = min(s18.split(), key=len)
print(x, len(x))

enter the string : ruman saba is a good student

a 1

In [ ]:
#22. Reverse the order of words in a string.

In [133]:
count = ' '
for i in s18.split() :
    count = i + ' '+count
    
print(count)

student good a is saba ruman

In [ ]:
#23

In [9]:
s19 = str(input("enter the string"))

s19.isalnum()

enter the string ruman123

True

In [10]:
#24 extract all digit from a string.

In [17]:
s20 = str(input("enter the string"))

for i in s20 :
    if i.isdigit():
        print(i,end='')

enter the string 34ru123

34123

In [11]:
#25 extract all alphabates from a string.

In [20]:
s21 = str(input("enter the string"))
for i in s21:
    if i.isalpha():
        print(i,end='')

enter the string ruman123saba

rumansaba

In [21]:
#26 Count the number of uppercase letters in a string.

In [1]:
s22 = str(input("enter the string"))

count = 0

for i in s22 :
    if i.isupper():
        count +=1
print(count)

enter the string Ruman

1

In [ ]:
#27 Count the number of lowercase letters in a string.

In [2]:
s23 = str(input("enter the string"))

count = 0

for i in s23:
    if i.islower():
        count +=1
        
print(count)

enter the string rumanSAba

7

In [3]:
#28 Swap the case of each character in a string.

In [4]:
s24 = str(input("enter the string: "))

new_text3 = s24.swapcase()
print(new_text3)

enter the string:  rumnSAba

RUMNsaBA

In [5]:
#29 Remove a specific word from a string.

In [6]:
s25 = str(input("enter the number: "))

new_text = s25.replace(str(input("enter remove word")), '')

print(new_text)

enter the number:  ruman saba is best.
enter remove word saba

ruman  is best.

In [7]:
#30 Check if a string is a valid email address.

In [4]:
import re

In [10]:
email = str(input('enter the email'))
pattern = '^[\w\.-]+@[\w\.-]+\.\w+$' 
if re.match(pattern, email):
    print("valid email")
else:
    print("invalid email")

enter the number ruman-1@gmail.com

valid

In [8]:
#31 Extract the username from an email address string.

In [12]:
username = email.split('@')[0]

print("this is your username : ",username)

this is your username :  ruman-1

In [9]:
#32 Extract the domain name from an email address string.

In [14]:
domain = email.split('@')[1]

print("this is your domain : ", domain)

this is your domain :  gmail.com

In [10]:
#33 Replace multiple spaces in a string with a single space.

In [16]:
s29 = str(input("Enter the string"))

new_text = ' '.join(s29.split())
str(new_text)

Enter the string ruma            ssab    is a    good

'ruma ssab is a good'

In [17]:
# 34 Check if a string is a valid URL.

In [10]:
from urllib.parse import urlparse

def is_valid_url(url):
    try:
        result = urlparse(url)
        return all([result.scheme, result.netloc])  
    except ValueError:
        return False


url1 = "https://www.example.com"
url2 = "invalid-url"
result1 = is_valid_url(url1)
result2 = is_valid_url(url2)
print(result1) 
print(result2)

True
False

In [ ]:
# 35

In [24]:
def extract_protocol(url):
    
    protocol_end = url.find("://")

    if protocol_end != -1:
        protocol = url[:protocol_end]
        return protocol
    else:
        return None

url1 = "https://www.example.com"
url2 = "http://google.com"
url3 = "ftp://ftp.example.com"

protocol1 = extract_protocol(url1)
protocol2 = extract_protocol(url2)
protocol3 = extract_protocol(url3)

print("Protocol 1:", protocol1)
print("Protocol 2:", protocol2)
print("Protocol 3:", protocol3)

Protocol 1: https
Protocol 2: http
Protocol 3: ftp

In [ ]:
#36

In [12]:
def character_frequency(input_string):
    frequency = {}  

    for char in input_string:
        if char in frequency:
            frequency[char] += 1  
        else:
            frequency[char] = 1   

    return frequency

input_str = "hello world"

char_freq = character_frequency(input_str)

for char, freq in char_freq.items():
    print(f"Character: '{char}', Frequency: {freq}")

Character: 'h', Frequency: 1
Character: 'e', Frequency: 1
Character: 'l', Frequency: 3
Character: 'o', Frequency: 2
Character: ' ', Frequency: 1
Character: 'w', Frequency: 1
Character: 'r', Frequency: 1
Character: 'd', Frequency: 1

In [14]:
#37. 
import string

def remove_punctuation(input_string):
    translator = str.maketrans("", "", string.punctuation)

    clean_string = input_string.translate(translator)

    return clean_string

input_str = "Hello, world! How's it going?"

cleaned_str = remove_punctuation(input_str)

print("Original string:", input_str)
print("Cleaned string:", cleaned_str)

Original string: Hello, world! How's it going?
Cleaned string: Hello world Hows it going

In [18]:
# 38. Check if a string contains only digit.

In [21]:
s38 = str(input("enter the string"))

if s38.isnumeric() :
    print("This string is only digit")
    
else :
    print("This string is not contain only digit.")

enter the string 1234522

This string is only digit

In [22]:
# 39. Check if a string contains only alphabets.

In [24]:
s39 = str(input("enter the string"))

if s39.isalpha() :
    print("this string is contain only alphbates")
else :
    print("this string is not contain only alphbates")

enter the string ruman 123 is good

this string is not contain only alphbates

In [25]:
#40 convert a string to a list of charachters.

In [27]:
s40 = str(input("original string : "))

l_char = list(s40)

print("string in list of charachter :", l_char)

original string :  ruman saba

string in list of charachter : ['r', 'u', 'm', 'a', 'n', ' ', 's', 'a', 'b', 'a']

In [28]:
#41

In [15]:
def are_anagrams(str1, str2):
    str1 = str1.replace(" ", "").lower()
    str2 = str2.replace(" ", "").lower()

    return sorted(str1) == sorted(str2)

string1 = "listen"
string2 = "silent"
string3 = "hello"
string4 = "world"

result1 = are_anagrams(string1, string2)
result2 = are_anagrams(string3, string4)

print(f"'{string1}' and '{string2}' are anagrams:", result1)
print(f"'{string3}' and '{string4}' are anagrams:", result2)

'listen' and 'silent' are anagrams: True
'hello' and 'world' are anagrams: False

In [16]:
#42

In [1]:
def caesar_cipher(text, shift):
  """
  Encodes a string using a Caesar cipher.

  Args:
    text: The string to encode.
    shift: The number of positions to shift each letter.

  Returns:
    The encoded string.
  """

  encoded_text = ""

  for char in text:
    if char.isalpha():
      encoded_char = chr((ord(char) + shift - ord('a')) % 26 + ord('a'))
    else:
      encoded_char = char

    encoded_text += encoded_char

  return encoded_text

text = "Hello, world!"
shift = 3

encoded_text = caesar_cipher(text, shift)

print("Encoded text:", encoded_text)

Encoded text: ehoor, zruog!

In [2]:
#43

In [3]:
def caesar_cipher_decoder(text, shift):
    """
    Decodes a string using a Caesar cipher.

    Args:
        text: The string to decode.
        shift: The number of positions to shift each letter.

    Returns:
        The decoded string.
    """

    decoded_text = ""

    for char in text:
        if char.isalpha():
            decoded_char = chr((ord(char) - shift - ord('a')) % 26 + ord('a'))
        else:
            decoded_char = char

        decoded_text += decoded_char

    return decoded_text

text = "lopp, zruog!"
shift = 3

decoded_text = caesar_cipher_decoder(text, shift)

print("Decoded text:", decoded_text)

Decoded text: ilmm, world!

In [ ]:
#44

In [6]:
import re
from collections import Counter

def most_frequent_word(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = clean_string.split()

    word_counter = Counter(words)

    most_common_word = word_counter.most_common(1)[0][0]

    return most_common_word

input_str = "Hello world, hello there! How's the world?"

most_common = most_frequent_word(input_str)

print("Most frequent word:", most_common)

Most frequent word: hello

In [ ]:
#45

In [7]:
import re

def unique_words(input_string):
    clean_string = re.sub(r'[^\w\s]', '', input_string).lower()

    words = set(clean_string.split())

    return words

input_str = "Hello world, hello there! How's the world?"

unique_word_set = unique_words(input_str)

print("Unique words:", unique_word_set)

Unique words: {'there', 'the', 'hows', 'hello', 'world'}

In [8]:
#46

In [9]:
import re

def count_syllables(word):
    vowel_groups = re.findall(r'[aeiouy]+', word, re.IGNORECASE)

    return len(vowel_groups)

word1 = "hello"
word2 = "banana"
word3 = "syllable"

syllables1 = count_syllables(word1)
syllables2 = count_syllables(word2)
syllables3 = count_syllables(word3)

print(f"'{word1}' has {syllables1} syllables.")
print(f"'{word2}' has {syllables2} syllables.")
print(f"'{word3}' has {syllables3} syllables.")

'hello' has 2 syllables.
'banana' has 3 syllables.
'syllable' has 3 syllables.

In [ ]:
#47

In [10]:
import re

def contains_special_characters(input_string):
    pattern = re.compile(r'[!@#$%^&*()_+{}\[\]:;<>,.?~\\/]')

    match = pattern.search(input_string)

    return bool(match)

string1 = "Hello, world!"
string2 = "This is a test."
string3 = "Special@Characters"

result1 = contains_special_characters(string1)
result2 = contains_special_characters(string2)
result3 = contains_special_characters(string3)

print(f"'{string1}' contains special characters:", result1)
print(f"'{string2}' contains special characters:", result2)
print(f"'{string3}' contains special characters:", result3)

'Hello, world!' contains special characters: True
'This is a test.' contains special characters: True
'Special@Characters' contains special characters: True

In [ ]:
#48

In [11]:
def remove_nth_word(input_string, n):
    words = input_string.split()

    if n >= 1 and n <= len(words):
        removed_word = words.pop(n - 1)

        modified_string = ' '.join(words)

        return modified_string, removed_word
    else:
        return None, None

input_str = "This is an example sentence to test the function."
n_value = 4

modified_str, removed_word = remove_nth_word(input_str, n_value)

print("Original string:", input_str)
if modified_str is not None:
    print("Modified string:", modified_str)
    print("Removed word:", removed_word)
else:
    print("Invalid n value.")

Original string: This is an example sentence to test the function.
Modified string: This is an sentence to test the function.
Removed word: example

In [ ]:
#49 Insert a word at the nth position in a string.

In [28]:
test_string = 'geeksgeeks'
 
add_string = "for"
 
print("The original string : " , test_string)
 
print("The add string : " , add_string)
 
N = 5
 
res = test_string[ : N] + add_string + test_string[N : ]
     
print("The string after performing addition : " , str(res))

The original string :  geeksgeeks
The add string :  for
The string after performing addition :  geeksforgeeks

In [ ]:
#50

In [ ]:
def csv_string_to_list(csv_string):
    lines = csv_string.split('\n')

    result = []

    for line in lines:
        fields = line.split(',')

        result.append(fields)

    return result

csv_data = "Name, Age, Country\nJohn, 25, USA\nAlice, 30, Canada\nBob, 22, UK"

list_of_lists = csv_string_to_list(csv_data)

for row in list_of_lists:
    print(row)

In [29]:
#list

In [30]:
#1 create list 1 to 10

In [33]:
intger_list = [ i for i in range(1,11)]

print(intger_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [34]:
#2

In [37]:
l2 = [1,2,3,4,5]

count = 0
for i in l2 :
    count +=1
print("length of list : ", count)

length of list :  5

In [38]:
#3

In [48]:
l3 = ['apple', 'banana', 'mango']

print(l3)

l3.append("grapes")

print("add new element in list :", l3)

['apple', 'banana', 'mango']
add new element in list : ['apple', 'banana', 'mango', 'grapes']

In [49]:
#4

In [9]:
l4 = ['apple', '123','mango']

print("orignal list :",l4)

l4.insert(int(input("index")),input("Enter new"))

print("new list :", l4)

orignal list : ['apple', '123', 'mango']

index 0
Enter new ruman

new list : ['ruman', 'apple', '123', 'mango']

In [10]:
#5

In [18]:
l5 = ['name','age','class','roll']

print("orignal list :", l5)
l5.remove('age')

print(l5)

orignal list : ['name', 'age', 'class', 'roll']
['name', 'class', 'roll']

In [15]:
#6

In [3]:
l6 = ['ruman',12, 'saba', 45]

print("orignal list :", l6)

l6.pop(int(input("enter index for delete")))
print("new :",l6)

orignal list : ['ruman', 12, 'saba', 45]

enter index for delete 1

new : ['ruman', 'saba', 45]

In [4]:
# 7 check element exist in a list .

In [13]:
l7 = ['mango', 'banana', 'govava', 'water-melon']

print(l7)
i = input("inter the to check exist or not")

if i in l7 :
    print(i," is exist")    
else :
    print(i, "is not exist")

['mango', 'banana', 'govava', 'water-melon']

inter the to check exist or not melon

melon is not exist

In [14]:
#8 . Find the index of the first occurrence of an element in a list.

In [38]:
l8 = ['mango','5','5','5','mango','as','as','as']

print("original ", l8)

i=l8.index(input("enter the value to find index"))
print("index",i)

original  ['mango', '5', '5', '5', 'mango', 'as', 'as', 'as']

enter the value to find index 5

index 1

In [39]:
#9 Count the occurrences of an element in a list.

In [54]:
l9 = [5,3,4,3,3,3,2,2,2,1,11,7,7,75,555,4,4,4]
x = int(input('enter the number'))
count = 0 
for i in l9:
    if i == x :
        count +=1
        
print(x,' :',count)

enter the number 7

7  : 2

In [52]:
#10 Reverse the order of elements in a list.

In [6]:
l10 = ["ruman", 123, "saba", "math"]
print("orignal list :",l10)

print("reverse list : ",l10[::-1])

orignal list : ['ruman', 123, 'saba', 'math']
reverse list :  ['math', 'saba', 123, 'ruman']

In [7]:
#11 Sort a list in ascending order.

In [29]:
l11 = [1,2,22,32,0,90,24]
print("orignal list :",l11)
l11.sort()
print("sorted :",l11)

orignal list : [1, 2, 22, 32, 0, 90, 24]
sorted : [0, 1, 2, 22, 24, 32, 90]

In [12]:
#12 Sort a list in descending order.

In [32]:
l12 = [23,1,3,2,7,8,10,5]
print("orignal list :",l12)
l12.sort(reverse=True)

print("desending :",l12)

orignal list : [23, 1, 3, 2, 7, 8, 10, 5]
desending : [23, 10, 8, 7, 5, 3, 2, 1]

In [13]:
#13 Create a list of even numbers from 1 to 20.

In [19]:
l13 = []
for i in range(1,21) :
    if i%2==0 :
        l13.append(i)
        
print("Even Number")
print(l13)

Even Number
[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

In [17]:
#14 Create a list of odd numbers from 1 to 20.

In [20]:
l14 = []
for i in range(1,21):
    if i%2!=0 :
        l14.append(i)
print("Odd Number")
print(l14)

Odd Number
[1, 3, 5, 7, 9, 11, 13, 15, 17, 19]

In [21]:
#15 Find the sum of all elements in a list.

In [26]:
l15 = [1,2,3,4,5,6,7,8,9]

sum_e = 0
for i in l15:
    sum_e += i

print("Sum of all elements in list :")
print(sum_e)

Sum of all elements in list :
45

In [ ]:
#16 Find the maximum value in a list.

In [27]:
l16 = [34,23,12,56,23]

max_list = 0

for i in l16 :
    if i > max_list :
        max_list = i
        
print(max_list)

56

In [ ]:
#17 Find the minimum value in a list.

In [29]:
l17 = [43,21,12,43,1]

print("minimum value :",min(l17))

minimum value : 1

In [30]:
#18 Create a list of squares of numbers from 1 to 10.

In [32]:

l18 = []

sqr = [x**2 for x in range(1,11) ]

print(sqr)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [33]:
#19 Create a list of random numbers.

In [1]:
import random

In [5]:
rand_list = []
n = 10

for i in range(n):
    rand_list.append(random.randint(3,9))
print(rand_list)

[6, 6, 6, 3, 6, 3, 6, 9, 3, 8]

In [ ]:
#20 Remove duplicates from a list.

In [9]:
l20 = [1,1,2,3,4,3,3,3,4,4,8,86,6,2]

print("orignal list",l20)

print("remove duplicates :",list(set(l20)))

orignal list [1, 1, 2, 3, 4, 3, 3, 3, 4, 4, 8, 86, 6, 2]
remove duplicates : [1, 2, 3, 4, 6, 8, 86]

In [ ]:
#21 Find the common elements between two list.

In [36]:
list_1 = [10, 20, 30, 40, 50]
list_2= [30, 40, 50, 60, 70]

comman = []

for i in list_1 :
    for i2 in list_2 :
        if i == i2 :
            comman.append(i)
print("Comman between lists:", comman)

Comman between lists: [30, 40, 50]

In [ ]:
#22. Find the difference between two lists.

In [34]:
list1 = [10, 20, 30, 40, 50]
list2 = [30, 40, 50, 60, 70]

difference = list(set(list1).difference(list2))
print("Difference between lists:", difference)

Difference between lists: [20, 10]

In [ ]:
#23. Merge two lists.

In [12]:
l23 = [1,3,65]
l24 = [8,7,6]

print("list 1 :",l23 , ", list 2 :",l24)

x = l23 + l24
print("merge two list :",x)

list 1 : [1, 3, 65] , list 2 : [8, 7, 6]
merge two list : [1, 3, 65, 8, 7, 6]

In [13]:
#24 Multiply all elements in list by 2.

In [19]:
l024 = [1,2,3,4,'ruman']

multi_list = [x*2 for x in l024]

print("multiplyed list : ",multi_list)

multiplyed list :  [2, 4, 6, 8, 'rumanruman']

In [18]:
multi = []
for i in l024 :
    x = i*2
    multi.append(x)
print("multiplyed list :",multi)

multiplyed list : [2, 4, 6, 8, 'rumanruman']

In [20]:
#25 Filter out all even numbers from list.

In [22]:
l26 = [11,32,43,55,66,67,24]

filter_list = []
for i in l26 :
    if i%2!= 0 :
        filter_list.append(i)
print('filter list :',filter_list)

filter list : [11, 43, 55, 67]

In [ ]:
#26 Convert a list of strings to a list of integers.

In [24]:
l26 = ["1", "2", "3","4", "5", "6", "7", "8", "9", "10"]

print("string list :", l26)
int_list = []
for i in l26 :
    int_list.append(int(i))
    
print("intger list : ", int_list)

string list : ['1', '2', '3', '4', '5', '6', '7', '8', '9', '10']
intger list :  [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
#27 Convert a list of integers to a list of string.

In [25]:
l27 = [1,2,3,4,5,6,7]

string_list = []
for i in l27 :
    string_list.append(str(i))
    
print("string list :", string_list)

string list : ['1', '2', '3', '4', '5', '6', '7']

In [26]:
#28 Flatten a nested list.

In [3]:
nested_list = [[1,2,3],[4,5,6],[7,8,9]]

def flatten_list(nested):
    flattened = []
    for sublist in nested:
        if isinstance(sublist, list):
            flattened.extend(flatten_list(sublist))
        else:
            flattened.append(sublist)
            
    return flattened

flattened_list = flatten_list(nested_list)
print("Flattened list :", flattened_list)

Flattened list : [1, 2, 3, 4, 5, 6, 7, 8, 9]

In [ ]:
#29. Create a list of the first 10 Fibonacci numbers.

In [4]:
def generate_fibonacci(n):
    fibonacci_list = [0,1]
    
    for i in range(2,n):
        next_fibonacci = fibonacci_list[i-1]+ fibonacci_list[i-2]
        fibonacci_list.append(next_fibonacci)
    
    return fibonacci_list

fibonacci_numbers = generate_fibonacci(2)

print("first 10 fibonacci numbers:", fibonacci_numbers)

first 10 fibonacci numbers: [0, 1]

In [ ]:
#30. Check if a list is stored.

In [9]:
def is_sorted_ascending(lst):
    for i in range(1,len(lst)):
        if lst[i] < lst[i-1]:
            return False 
    return True
    
ascending_list = [10,20,30,40,50]
    
if is_sorted_ascending(ascending_list):
    print("The list is stored in asending order.")
else:
    print("the list is not sorted in ascending order,")

The list is stored in asending order.

In [ ]:
#31. Rotate a list to the left by `n` positions.

In [12]:
def rotate_left(lst, n):
    n = n%len(lst)
    rotated = lst[n:] + lst[:n]
    return rotated

my_list = [1,2,3,4,5,6]
n= 4

rotated_list = rotate_left(my_list, n)
print("rotated list:", rotated_list)

rotated list: [5, 6, 1, 2, 3, 4]

In [ ]:
#32. Rotate a list to the right by `n` positions.

In [1]:
def rotate_right(lst, n):
    n = n%len(lst)
    rotated = lst[-n:] + lst[:-n]
    return rotated

my_list = [1,2,3,4,5,6]

n=2

rotated_list = rotate_right(my_list, n)

print("Rotated listed",rotated_list)

Rotated listed [5, 6, 1, 2, 3, 4]

In [38]:
#33 Create a list of prime numbers up to 50.

In [2]:
def is_prime(num):
    if num <=1:
        return False
    if num <= 3:
        return False
    if num%2==0 or num%3 ==0:
        return False
    i = 5
    
    while i*i <= num:
        print(i,num)
        if num %i == 0 or num %(i +2)==0:
            return False
        i+=6
    return True

prime_numbers = [num for num in range(2,30) if is_prime(num)]
print("list of prime numbers up to 50:", prime_numbers)

5 25
5 29
list of prime numbers up to 50: [5, 7, 11, 13, 17, 19, 23, 29]

In [3]:
#34 split a list into chunks of size n.

In [4]:
def sieve_of_eratosthenes(limit):
    primes = []
    is_prime = [True] * (limit + 1)
    is_prime[0] = is_prime[1] = False
    
    for num in range(2, int(limit**0.5) + 1):
        if is_prime[num]:
            primes.append(num)
            for multiple in range(num*num, limit + 1, num) :
                is_prime[multiple] = False
                
    for num in range(int(limit**0.5) + 1, limit+1):
        if is_prime[num]:
            primes.append(num)
            
    return primes

prime_numbers = sieve_of_eratosthenes(50)

print("list of prime numbers up to 50:", prime_numbers)

list of prime numbers up to 50: [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [5]:
#35 find the second largest number in a list.

In [12]:
my_list = [10, 5, 20, 15, 30, 25]

sorted_list = sorted(set(my_list))

if len(sorted_list)>=2:
    second_largest = sorted_list[-2]
    print("Seconnd largest number:", second_largest)
    
else:
    print("the list does not contain enough elements.")

Seconnd largest number: 25

In [ ]:
#36 replace every element in a list with its square

In [14]:
my_list = [2,4,6,8,10]

squared_list = [x**2 for x in my_list]

print("Squared list:",squared_list)

Squared list: [4, 16, 36, 64, 100]

In [15]:
#37 convert a list to dictionary where list elements become keys and thier indices become values.

In [16]:
my_list = ['apple', 'banana', 'cherry', 'date', 'elderberry']
my_dict = {element: index for index, element in enumerate(my_list)}

print("Converted dictionary:",my_dict)

Converted dictionary: {'apple': 0, 'banana': 1, 'cherry': 2, 'date': 3, 'elderberry': 4}

In [17]:
#38 shuffle the element of a list randomly.

In [18]:
import random 

my_list = [1,2,3,4,5,6,7,8,9,10]

random.shuffle(my_list)

print("shuffled list:", my_list)

shuffled list: [3, 6, 10, 2, 5, 9, 8, 4, 1, 7]

In [ ]:
#39 create a list of the first 10 factorial numbers.

In [24]:
def factorial(n):
    if n == 0 or n == 1:
        return 1
    else:
        return n * factorial(n - 1)

factorial_numbers = [factorial(i) for i in range(10)]

print("List of the first 10 factorial numbers:", factorial_numbers)

List of the first 10 factorial numbers: [1, 1, 2, 6, 24, 120, 720, 5040, 40320, 362880]

In [ ]:
#40

In [23]:
def has_common_element(list1, list2):
    for item in list1:
        if item in list2:
            return True
    return False 

list1 = [1, 2, 3, 4,5]
list2 = [4, 5, 6, 7, 8]

if has_common_element(list1, list2):
    print("the list have at least one common element")
    
else :
    print("the list do not have any common elements.")

the list have at least one common element

In [38]:
#41 Remove all elements from a list.

In [42]:
l41 = [1,2,3,4,5]
print("list :", l41)
l41.clear()

print("remove all element list :", l41)

list : [1, 2, 3, 4, 5]
remove all element list : []

In [43]:
#42 Replace negative numbers in a list with 0

In [47]:
l42 = [10, -5, 20, -15, 30, -25]

for i in range(len(l42)) :
    if l42[i]<0:
        l42[i] = 0
print(l42)

[10, 0, 20, 0, 30, 0]

In [48]:
#43 Convert a string into a list of words.

In [54]:
string = "ruman is good girl."

string.split()

['ruman', 'is', 'good', 'girl.']

In [62]:
#44 Convert a list of words into a string.

l44 = ["Ruman","is","a","good","student","."]
print(l44)
str_1 = ''
for i in l44 :
    str_1 = str_1 + ' '+i
print(str_1)

['Ruman', 'is', 'a', 'good', 'student', '.']
 Ruman is a good student .

In [27]:
#45 create a list of the first n powers of 2.

In [28]:
n = 5
power_list = [2**i for i in range(n)]

print("list of the first",n,"power of 2:",power_list)

list of the first 5 power of 2: [1, 2, 4, 8, 16]

In [1]:
# 46. Find the longest string in a list of strings.

In [34]:
l46 = ["ruman", "saba", 'isuy787yuu', 'a', "good","student"]

count = ""

for i in l46 :
    if len(i) > len(count) :
        count = i
        
print(count)

isuy787yuu

In [35]:
#47. Find the shortest string in a list of strings.

In [26]:
l47 = ["ruman", "saba", 'isuy787yuu', 'a', "good","student"]

count = l47[0]

for i in l47 :
    if len(i) < len(count) :
        count = i
        
print(count)

a

In [29]:
#48 create a list of the first n tringle numbers.

In [32]:
def tringular_numbers(n):
    return[i*(i+1)//2 for i in range(1,n+1)]

n= 5

tringular_list = tringular_numbers(n)

print("list of the first", n, "tringular numbers:",tringular_list)

list of the first 5 tringular numbers: [1, 3, 6, 10, 15]

In [ ]:
#49

In [33]:
def is_subsequence(subsequence, main_list):
    subseq_index = 0 
    for element in main_list:
        if element == subsequence[subseq_index]:
            subseq_index += 1
            if subseq_index == len(subsequence):
                return True
    return False

main_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
subsequence = [3, 5, 8]

if is_subsequence(subsequence, main_list):
    print("Main list contains the subsequence.")
else:
    print("Main list does not contain the subsequence.")

Main list contains the subsequence.

In [ ]:
#50 swap two element in a list by thier indic

In [35]:
my_list = [1,2,3,4,5]
index1 = 1
index2 = 3

temp = my_list[index1]
my_list[index1] = my_list[index2]
my_list[index2] = temp

print("list after swapping elements:", my_list)

list after swapping elements: [1, 4, 3, 2, 5]

In [ ]:
#tuple

In [40]:
#1. Create a tuple with integers from 1 to 5.

In [50]:
t1 = (1,2,3,4,5)
print(t1)

(1, 2, 3, 4, 5)

In [51]:
#2. Access the third element of a tuple.

In [52]:
t2 = (1,2,3,3,4)

t2[2]

3

In [53]:
#3. Find the length of a tuple without using the `len()` function.

In [56]:
t3 = (1,2,3,3,2,3,4,5)

count = 0

for i in t3 :
    count +=1
print("Length of set :", count)

Length of set : 8

In [57]:
#4. Count the occurrences of an element in a tuple.

In [61]:
t4 = (1,2,3,3,3,3,2,22,22,12,32,4,5,6,4,4,7)

x = int(input("count the occurrences of element:"))
count = 0

for i in t4 :
    if i == x :
        count +=1
print(x,"is ",count,"time.")

count the occurrences of element: 4

4 is  3 time.

In [62]:
#5. Find the index of the first occurrence of an element in a tuple.

In [29]:
my_tuple = (10, 20, 30, 20, 40, 50)

element_to_find = 20

index = -1 

for i, item in enumerate(my_tuple):
    if item == element_to_find:
        index = i
        break  

if index != -1:
    print(f"The first occurrence of {element_to_find} is at index {index}.")
else:
    print(f"{element_to_find} is not found in the tuple.")

The first occurrence of 20 is at index 1.

In [63]:
#6. Check if an element exists in a tuple.

In [67]:
t6 = (1,2,3,2,0,4,4,2,3)

x = int(input("enter for check : "))

if x in t6 :
    print("exists",x,"in tuple.")
else :
    print("no exists",x, "in tuple . ")

enter for check :  5

no exists 5 in tuple .

In [68]:
#7. Convert a tuple to a list.

In [70]:
t7 = (23,1,2,1,2,2,13,43)
print("tuple :",t7)
tuple_to_list = list(t7)

print("tuple to list : ", tuple_to_list)

tuple : (23, 1, 2, 1, 2, 2, 13, 43)
tuple to list :  [23, 1, 2, 1, 2, 2, 13, 43]

In [71]:
#8. Convert a list to a tuple.

In [72]:
list1 = [1,2,3,2,3,4]

print("LIST :" ,list1)

list_to_tuple = tuple(list1)

print("List to Tuple : ", list_to_tuple)

LIST : [1, 2, 3, 2, 3, 4]
List to Tuple :  (1, 2, 3, 2, 3, 4)

In [73]:
#9

In [13]:
# Step 1: Create a tuple
my_tuple = (10, 20, 30)

# Step 2: Unpack the elements of the tuple into variables
var1, var2, var3 = my_tuple

# Step 3: Print the variables
print("var1:", var1)
print("var2:", var2)
print("var3:", var3)

var1: 10
var2: 20
var3: 30

In [74]:
#10. Create a tuple of even numbers from 1 to 10.

In [78]:

even = []
for i in range(1,11):
    if i%2 == 0 :
        even.append(i)
        
print(tuple(even))

(2, 4, 6, 8, 10)

In [80]:
#11
odd = []

for i in range(1,11):
    if i%2!=0 :
        odd.append(i)
print(tuple(odd))

(1, 3, 5, 7, 9)

In [82]:
#12. Concatenate two tuples.

In [2]:
s2 = (1,2,3)
s3 = (4,5,6)

set_add = s2 + s3

print("concatenate two tuple :",set_add)

concatenate two tuple : (1, 2, 3, 4, 5, 6)

In [3]:
#13 Repeat a tuple three times

In [6]:
repeat_tuple = s2*3

print("Repeat tuple :",repeat_tuple)

Repeat tuple : (1, 2, 3, 1, 2, 3, 1, 2, 3)

In [7]:
#14 Check if a tuple is empty.

In [9]:
empty_tuple = ()

non_empty_tuple = (1,2,3,4)

if not empty_tuple :
    print("The empty_tuple is empty.")
else :
    print("The empty_tuple is not empty.")
    
if not non_empty_tuple :
    print("The non_empty_tuple is empty.")
else:
    print("The non_empty_tuple is not empty.")

The empty_tuple is empty.
The non_empty_tuple is not empty.

In [10]:
#15 Create a nested tuple.

In [13]:
nested_tup = ((1,2,3),('ruman','saba'),(True,False))

print("Nested Tuple :",nested_tup)

Nested Tuple : ((1, 2, 3), ('ruman', 'saba'), (True, False))

In [14]:
#16 Access the first element of a nested tuple.

In [15]:
first_element = nested_tup[0]

print("first Element :", first_element)

first Element : (1, 2, 3)

In [16]:
#17 Create a tuple with a single element.

In [18]:
single_element = (42,)

print("single Element:", single_element)

single Element: (42,)

In [19]:
#18 Compare two tuples.

In [21]:
tuple1 = (1,2,3)
tuple2 = (1,2,4)

print("tuple1 == tuple2 :", tuple1 == tuple2)
print("tuple1 != tuple2 :", tuple1 != tuple2)
print("tuple1 < tuple2 :", tuple1 < tuple2)
print("tuple1 > tuple2 :", tuple1 > tuple2)
print("tuple1 >= tuple2 :", tuple1 >= tuple2)
print("tuple1 <= tuple2 :", tuple1 <= tuple2)

tuple1 == tuple2 : False
tuple1 != tuple2 : True
tuple1 < tuple2 : True
tuple1 > tuple2 : False
tuple1 >= tuple2 : False
tuple1 <= tuple2 : True

In [22]:
#19 Delete a tuple.

In [25]:
tup1 = (1,2,3,4)
print(tup1)
del tup1

print("Delete tuple :",tup1)

(1, 2, 3, 4)

NameError: name 'tup1' is not defined

In [26]:
#20 Slice a tuple.

In [28]:
tup20 = (1,2,3,4,2,3,4,98,3,45,6,7,8,9,9)

slice_tup = tup20[4:9]

print("Slice tuple :", slice_tup)

Slice tuple : (2, 3, 4, 98, 3)

In [29]:
#21 Find the maximum value in a tuple.

In [30]:
tup21 = (3,4,5,34,6)

maxi = max(tup21)

print("maximum value", maxi)

maximum value 34

In [31]:
#22 Find the minimum value in a tuple.

In [32]:
tup22 = (2,3,4,65,3,1)

minimum = min(tup22)
print("minmum value", minimum)

minmum value 1

In [33]:
#23 Convert a string to a tuple of characters.

In [34]:
string23 = "ruman is good girl"

my_tup = tuple(string23)

print(my_tup)

('r', 'u', 'm', 'a', 'n', ' ', 'i', 's', ' ', 'g', 'o', 'o', 'd', ' ', 'g', 'i', 'r', 'l')

In [35]:
#24 Convert a tuple of characters to a string.

In [39]:
tuple_string = ('r','u','m','a','n',' ', 's','a','b','a', ' ', 'i','s',' ', 'g','o','o','d')

tup_to_string = ''.join(tuple_string)

print("Tuple to string :", tup_to_string)

Tuple to string : ruman saba is good

In [41]:
#25Create a tuple from multiple datatype.

In [42]:
multi_tup = (1,'ruman',True,3.23)

print(multi_tup)

(1, 'ruman', True, 3.23)

In [43]:
#26 Check if two tuples are identical.

In [46]:
tup1 = (1,2,3)
tup2 = (1,2,3)
tup3 = (4,5,6)

identicale1 = tup1==tup2
identicale2 = tup2==tup3

print("tup1 and tup2 are identical",identicale1)
print("tup2 and tup3 are identical",identicale2)

tup1 and tup2 are identical True
tup2 and tup3 are identical False

In [47]:
#27 sorted element

In [48]:
my_tuple = (3,5,7,21,9,8)
sorted_element = tuple(sorted(my_tuple))

print(sorted_element)

(3, 5, 7, 8, 9, 21)

In [49]:
#28 Convert a tuple of integers to a tuple of string.

In [52]:
tup28 = (1,2,3,4)

tup_int_to_str = tuple(str(item) for item in tup28)

print(tup_int_to_str)

('1', '2', '3', '4')

In [53]:
#29 Convert a tuple of string to a tuple of integers.

In [56]:
tup29 = ('2','3','1','5')

string_to_int = tuple(int(item)for item in tup29)

print("string to integer :", string_to_int)

string to integer : (2, 3, 1, 5)

In [57]:
#30 Merge two tuples.

In [58]:
tup1 = (1,2,3)

tup2 = (3,4,5)

merge_tuple = tup1+tup2

In [59]:
print(merge_tuple)

(1, 2, 3, 3, 4, 5)

In [ ]:
#31 Flatten a nested tuple

In [14]:
def flatten_tuple(nested_tuple):
    flattened = []
    for item in nested_tuple:
        if isinstance(item, tuple):
            flattened.extend(flatten_tuple(item))
        else:
            flattened.append(item)
    return flattened

nested_tuple = ((1, 2), (3, 4, 5), (6, (7, 8)))

flattened_tuple = tuple(flatten_tuple(nested_tuple))

print("Flattened tuple:", flattened_tuple)

Flattened tuple: (1, 2, 3, 4, 5, 6, 7, 8)

In [ ]:
#32

In [15]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

prime_numbers_list = [num for num in range(2, 100) if is_prime(num)][:5]

prime_numbers_tuple = tuple(prime_numbers_list)

print("Tuple of the first 5 prime numbers:", prime_numbers_tuple)

Tuple of the first 5 prime numbers: (2, 3, 5, 7, 11)

In [60]:
#33Check if a tuple is a palindrome.

In [64]:
palidrome_tuple = (1,2,3,2,1)

non_palidrome_tuple = (1,2,3,4,5)

if palidrome_tuple == palidrome_tuple[::-1] :
    print("yes palidrome number. ",palidrome_tuple)
else :
    print("no palidrome number,")
if non_palidrome_tuple == non_palidrome_tuple[::-1]:
    print("palidrome number",non_palidrome_tuple)
else :
    print("no palidrome number.",non_palidrome_tuple)

yes palidrome number.  (1, 2, 3, 2, 1)
no palidrome number. (1, 2, 3, 4, 5)

In [65]:
#34. Create a tuple of squares of numbers from 1 to 5.

In [70]:
l = []
for i in range(1,6):
    l.append(i**2)
    
print(tuple(l))

(1, 4, 9, 16, 25)

In [71]:
tup = (1,2,3,4)

squre = tuple(i**2 for i in tup)

print(squre)

(1, 4, 9, 16)

In [72]:
#35. Filter out all even numbers from a tuple.

In [76]:
tuple_35 = (43,5,7,87,9,2,4,12)
tup_l = []
for i in tuple_35 :
    if i%2==0:
        tup_l.append(i)
        
print(tuple(tup_l))

(2, 4, 12)

In [77]:
#36 Multiply all elements in a tuple by 2.

In [78]:
multiply_by_2 = tuple(i*2 for i in range(1,8))

print("Multiply by 2 :", multiply_by_2)

Multiply by 2 : (2, 4, 6, 8, 10, 12, 14)

In [79]:
# 37. Create a tuple of random numbers.

In [80]:
import random

In [82]:
tup37 = tuple(random.randint(1,43) for i in range(5))

print(tup37)

(11, 36, 25, 3, 28)

In [83]:
#38Check if a tuple is sorted.

In [16]:
def is_sorted(tup):
    for i in range(len(tup) - 1):
        if tup[i] > tup[i + 1]:
            return False
    return True

sorted_tuple = (1, 2, 3, 4, 5)
unsorted_tuple = (5, 3, 1, 4, 2)

is_sorted1 = is_sorted(sorted_tuple)
is_sorted2 = is_sorted(unsorted_tuple)

print("sorted_tuple is sorted:", is_sorted1)
print("unsorted_tuple is sorted:", is_sorted2)

sorted_tuple is sorted: True
unsorted_tuple is sorted: False

In [ ]:
#39

In [30]:
def rotate_tuple_left(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[n:] + tup[:n] 
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_left(my_tuple, n_positions)
print(result)

(3, 4, 5, 1, 2)

In [ ]:
#40 rotate a tuple to the right by n positions

In [42]:
def rotate_tuple_right(tup, n):
    n = n % len(tup)  
    rotated_tuple = tup[-n:] + tup[:-n]  
    return rotated_tuple

my_tuple = (1, 2, 3, 4, 5)
n_positions = 2
result = rotate_tuple_right(my_tuple, n_positions)
print(result)

(4, 5, 1, 2, 3)

In [ ]:
#41 create a tuple of the first 5 fibonacci numbers.

In [43]:
def generate_fibonacci(n):
    fibonacci = [0, 1]  # Initialize the list with the first two Fibonacci numbers
    while len(fibonacci) < n:  
        next_number = fibonacci[-1] + fibonacci[-2]  # Calculate the next Fibonacci number
        fibonacci.append(next_number)  # Add the next Fibonacci number to the list
    return tuple(fibonacci)  # Convert the list to a tuple and return it

fibonacci_tuple = generate_fibonacci(5)

print(fibonacci_tuple)

(0, 1, 1, 2, 3)

In [102]:
#42

In [108]:
tup42 = input("enter the element")

input_list = tup42.split(',')
print(tuple(input_list))

enter the element ruman,saba,32,true

('ruman', 'saba', '32', 'true')

In [109]:
#43. Swap two elements in a tuple.

In [44]:
my_tuple = (1, 2, 3, 4, 5)

# Swap elements at indices 1 and 3
index1 = 1
index2 = 3
swapped_tuple = tuple(
    my_tuple[i] if i not in (index1, index2) else
    my_tuple[index2] if i == index1 else
    my_tuple[index1]
    for i in range(len(my_tuple))
)

# Print the swapped tuple
print("Swapped tuple:", swapped_tuple)

Swapped tuple: (1, 4, 3, 2, 5)

In [45]:
#44. Reverse the elements of a tuple.

In [46]:
my_tup = (1,2,3,4,5)
reverse_tup = my_tup[::-1]
print("Reverse Tuple:", reverse_tup)

Reverse Tuple: (5, 4, 3, 2, 1)

In [ ]:
#45createa tup of the first n power of 2.

In [48]:
n = 5
powers_of_2_tuple = tuple(2**i for i in range(n))

print("Tuple of the first",n,"powers of 2:",powers_of_2_tuple)

Tuple of the first 5 powers of 2: (1, 2, 4, 8, 16)

In [ ]:
#46 find the longest string in a tuple of string

In [51]:
string_tup = ("apple", "banana", "grapess","kiwi")

longest_string = max(string_tup, key=len)
print("longest string:",longest_string)

longest string: grapess

In [ ]:
#47 find the shortest in a tup of string

In [55]:
string_tup = ("apple", "banana", "grapess","kiwi")

longest_string = min(string_tup, key=len)
print("shortest string:",longest_string)

shortest string: kiwi

In [56]:
#48 create a tuple of the first n tringular numbers.

In [58]:
n = 5
tringular_numbers_tuple = tuple((i*(i+1))//2 for i in range(1, n+1))

print("Tuple of the first", n, "tringular number numbers:", tringular_numbers_tuple)

Tuple of the first 5 tringular number numbers: (1, 3, 6, 10, 15)

In [59]:
#49 check if a tuple contains another tuple as a subsequence.

In [60]:
def contains_subsequence(main_tuple, sub_tuple):
    sub_length = len(sub_tuple)
    for i in range(len(main_tuple) - sub_length + 1):
        if main_tuple[i:i+sub_length] == sub_tuple:
            return True
    return False

# Main tuple
main_tuple = (1, 2, 3, 4, 5, 6, 7, 8, 9)

# Subsequence tuple
sub_tuple = (3, 4, 5)

# Check if the main tuple contains the subsequence tuple
contains_subseq = contains_subsequence(main_tuple, sub_tuple)

# Print the result
print("Main tuple contains subsequence tuple:", contains_subseq)

Main tuple contains subsequence tuple: True

In [ ]:
#50

In [61]:
n = 10

# Create a tuple of alternating 1s and 0s using a list comprehension
alternating_tuple = tuple(i % 2 for i in range(n))

# Print the tuple of alternating 1s and 0s
print("Tuple of alternating 1s and 0s:", alternating_tuple)

Tuple of alternating 1s and 0s: (0, 1, 0, 1, 0, 1, 0, 1, 0, 1)

In [111]:
#set

In [112]:
#1

In [113]:
set1 = {1,2,3,4,5}

print("set 1 to 5 :", set1)

set 1 to 5 : {1, 2, 3, 4, 5}

In [114]:
#2. Add an element to a set.

In [117]:
set2 = {1,2,3}

print(set2)

set2.add(4)
set2.add(8)

print("After add :",set2)

{1, 2, 3}
After add : {1, 2, 3, 4, 8}

In [118]:
#3. Remove an element from a set.

In [125]:
set3 = {1,2,3,4}

print(set3)

set3.remove(3)
print("after remove :",set3)

{1, 2, 3, 4}
after remove : {1, 2, 4}

In [126]:
#4. Check if an element exists in a set.

In [6]:
set4 = {1,2,3,45,6,7}
i = input("enter number")

if i in set4 :
    print("yes", i)
        
else :
    print("no")

enter number 7

no

In [7]:
#5

In [10]:
set5 = {1,2,3,4,5,8}

length = 0

for i in set5 :
    length += 1

In [11]:
print(length)

6

In [12]:
#6 Clear all elements from a set

In [15]:
set6 = {1,2,3,4,5}

print(set6)

set6.clear()

print("clear set :", set6)

{1, 2, 3, 4, 5}
clear set : set()

In [16]:
#7 Create a set of even numbers from 1 to 10.

In [18]:
even_set = set()

for i in range(1,11):
    if i%2==0:
        even_set.add(i)
print("set of even numbers from 1 to 10:",even_set)

set of even numbers from 1 to 10: {2, 4, 6, 8, 10}

In [19]:
#8 Create a set of odd numbers from 1 to 10.

In [20]:
odd_set = set()

for i in range(1,11):
    if i%2!=0:
        odd_set.add(i)
        
print("odd number 1 to 10 :", odd_set)

odd number 1 to 10 : {1, 3, 5, 7, 9}

In [21]:
#9 Find the union of two sets.

In [24]:
set_1 = {1,2,3,4,5}

set_2 = {4,5,6,7,8}

union_result = set_1.union(set_2)
print("set 1",set_1)
print("set 2",set_2)

print("union result :", union_result)

set 1 {1, 2, 3, 4, 5}
set 2 {4, 5, 6, 7, 8}
union result : {1, 2, 3, 4, 5, 6, 7, 8}

In [25]:
#10 10. Find the intersection of two sets.

In [26]:
intersection_result = set_1.intersection(set_2)

print(intersection_result)

{4, 5}

In [27]:
#11. Find the difference between two sets.

In [32]:
set_11_1 = {7,8,4}
set_11_2 = {4,5,6}

difference_set = set_11_1.difference(set_11_2)

print("diffrence between two set :",difference_set)

diffrence between two set : {8, 7}

In [33]:
#12. Check if a set is a subset of another set.

In [36]:
set_12_1 = {1,2,3}
set_12_2 = {1,2,3,4,5,6}

subset_set = set_12_1.issubset(set_12_1)

print("set 1 is subset of set 2 :",subset_set)

set 1 is subset of set 2 : True

In [37]:
# 13. Check if a set is a superset of another set.

In [44]:
set_13_1 = {1,2,3,4,5}

set_13_2= {3,4}

is_supperset = set_13_1.issuperset(set_13_2)

if is_supperset :
    print("set 1 is superset of set 2 :",is_supperset)
else :
    print("set 1 is not superset of set 2:", is_supperset)

set 2 is superset of set1 : True

In [45]:
#14. Create a set from a list.

In [48]:
my_list_14 = [1,2,3,4,4,5]

my_set_14 = set(my_list_14)

print("my list :", my_list_14)
print("my list :", my_set_14)

my list : [1, 2, 3, 4, 4, 5]
my list : {1, 2, 3, 4, 5}

In [49]:
#15. Convert a set to a list.

In [51]:
set_15 = {1,3,4,5,3,4,5,41,3}

convert_list = list(set_15)

print("orignal set :", set_15)

print("converted List :", convert_list)

orignal set : {1, 3, 4, 5, 41}
converted List : [1, 3, 4, 5, 41]

In [52]:
# 16. Remove a random element from a set.

In [2]:
import random

In [3]:
set_16 = {1,2,3,4,5}

print("orignal set :", set_16)

random_element = random.choice(list(set_16))
set_16.remove(random_element)

print(random_element,":",set_16)

orignal set : {1, 2, 3, 4, 5}
5 : {1, 2, 3, 4}

In [4]:
# 17. Pop an element from a set.

In [9]:
set_17 = {1,2,3,4,5,6}

print(set_17)
pop_element = set_17.pop()

print(pop_element, ":", set_17)

{1, 2, 3, 4, 5, 6}
1 : {2, 3, 4, 5, 6}

In [1]:
#18. Check if two sets have no elements in common.

In [2]:
set_18_1 = {1,2,3,4}
set_18_2 = {5,6,7,8}

comman_element = set_18_1.intersection(set_18_2)

if not comman_element :
    print("The two sets have no element in comman ")
    
else :
    print("the two set have comman element")

The two sets have no element in comman

In [3]:
#19. Find the symmetric difference between two sets.

In [4]:
set_19_1 = {1,2,3,4,5}

set_19_2 = {4,5,6,7,8}

symmetric_diffrence = set_19_1 ^ set_19_2

print("symmetric Diffrence :", symmetric_diffrence)

symmetric Diffrence : {1, 2, 3, 6, 7, 8}

In [1]:
#20. Update a set with elements from another set.

In [6]:
set1 = {1,2,3,4}

print("set 1 :",set1)

set2 = {4,5,6}

print("set 2 :",set2)

set1.update(set2)

print("update set 1 :",set1)

set 1 : {1, 2, 3, 4}
set 2 : {4, 5, 6}
update set 1 : {1, 2, 3, 4, 5, 6}

In [7]:
#21. Create a set of the first 5 prime numbers.

In [62]:
def is_prime(num):
    if num <= 1:
        return False
    for i in range(2, int(num ** 0.5) + 1):
        if num % i == 0:
            return False
    return True

# Create an empty set to store the prime numbers
prime_set = set()

# Initialize the number to start checking for primes
num = 2

# Loop until we have found the first 5 prime numbers
while len(prime_set) < 5:
    # Check if the current number is prime using the is_prime function
    if is_prime(num):
        # If the number is prime, add it to the prime_set
        prime_set.add(num)

    # Move on to the next number for the next iteration
    num += 1

# Print the set of prime numbers
print("Set of the first 5 prime numbers:", prime_set)

Set of the first 5 prime numbers: {2, 3, 5, 7, 11}

In [8]:
#22. Check if two sets are identical.

In [16]:
set22_1 = {1,2,3,4,5}
set22_2 = {3,1,5,2,4}

if set22_1 == set22_1:
    print("the set are identical.")
    
else :
    print("the sets are not identical.")

the set are identical.

In [9]:
#23. Create a frozen set.

In [17]:
elements = [1, 2, 3, 4, 5]
my_frozen_set = frozenset(elements)

print("Frozen Set:", my_frozen_set)

Frozen Set: frozenset({1, 2, 3, 4, 5})

In [10]:
#24 Check if a set is disjoint with another set.

In [42]:
set1 = {1, 2, 3, 4}
set2 = {5, 6, 7, 8}

disjoint_status = set1.isdisjoint(set2)

print("Are the sets disjoint?", disjoint_status)

Are the sets disjoint? True

In [11]:
#25. Create a set of squares of numbers from 1 to 5.

In [64]:
squares_set = set()

for num in range(1, 6):
    square = num ** 2

    squares_set.add(square)

print(squares_set)

{1, 4, 9, 16, 25}

In [12]:
#26. Filter out all even numbers from a set.

In [44]:
set26 = {1,2,3,4,5,33,22,24,21}

evenset = set()

for i in set26:
    if i%2==0 :
        evenset.add(i)
        

print("original :", set26)
print("even set :", evenset)

original : {1, 2, 3, 4, 5, 33, 21, 22, 24}
even set : {24, 2, 4, 22}

In [13]:
#27. Multiply all elements in a set by 2.

In [19]:
set27 = {1,2,3,4,5,6}

multiply_by_2_element = set()

for i in set27 :
    x = i*2
    multiply_by_2_element.add(x)

print("set 27:",set27)
print("multiply by 2 :",multiply_by_2_element)

set 27: {1, 2, 3, 4, 5, 6}
multiply by 2 : {2, 4, 6, 8, 10, 12}

In [14]:
#28. Create a set of random numbers.

In [22]:
import random

num_random_num = 5

random_number_set = set()

for _ in range(num_random_num):
    random_num = random.randint(1,100)
    
    random_number_set.add(random_num)
    
print("generated set of random number:",random_number_set)

generated set of random number: {10, 45, 13, 63, 95}

In [15]:
#29. Check if a set is empty.

In [23]:
my_set = set()
if not my_set:
    print("the set is empty.")
else:
    print("the set is not empty.")

the set is empty.

In [18]:
#30. Create a nested set (hint: use frozenset).

In [29]:
set1 = {1,2,3}
set2 = {4,5,6}
set3 = {7,8,9}

frozenset_1 = frozenset(set1)
frozenset_2 = frozenset(set2)
frozenset_3 = frozenset(set3)

nested_set = {frozenset_1, frozenset_2, frozenset_3}

print("Nested Set:",nested_set)

Nested Set: {frozenset({1, 2, 3}), frozenset({4, 5, 6}), frozenset({8, 9, 7})}

In [19]:
#31. Remove an element from a set using the discard method.

In [33]:
my_set = {1,2,3,4,5}
print("Initial set:",my_set)

element_to_remove = 3

my_set.discard(element_to_remove)

print("set after removeing", element_to_remove,":", my_set)

Initial set: {1, 2, 3, 4, 5}
set after removeing 3 : {1, 2, 4, 5}

In [20]:
#32. Compare two sets.

In [36]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

is_subset = set1.issubset(set2)

is_superset = set1.issuperset(set2)
intersection = set1.intersection(set2)

union = set1.union(set2)

difference1 = set1.difference(set2)

difference2 = set2.difference(set1)

print("set 1:",set1)
print("set 2:",set2)
print("Is set1 a subset of set2?", is_subset)
print("Is set2 a subset of set1?", is_superset)

print("Intersection:", intersection)
print("Union:",union)
print("Element in set1 but not in set2:", difference1)
print("Element in set2 but not in set1:", difference2)

set 1: {1, 2, 3, 4, 5}
set 2: {4, 5, 6, 7, 8}
Is set1 a subset of set2? False
Is set2 a subset of set1? False
Intersection: {4, 5}
Union: {1, 2, 3, 4, 5, 6, 7, 8}
Element in set1 but not in set2: {1, 2, 3}
Element in set2 but not in set1: {8, 6, 7}

In [21]:
#33. Create a set from a string.

In [37]:
input_string = "hello"

char_set = set(input_string)

print(char_set)

{'e', 'l', 'o', 'h'}

In [22]:
#34. Convert a set of strings to a set of integers.

In [42]:
set_of_string = {"123","456","789"}

set_of_integer = set()
for string in set_of_string:
    int_value = int(string)
    set_of_integer.add(int_value)
    
print("Original string Set:",set_of_string)
print("converted Integer Set:", set_of_integer)

Original string Set: {'456', '123', '789'}
converted Integer Set: {456, 123, 789}

In [23]:
#35. Convert a set of integers to a set of strings.

In [44]:
integer_set = {1,2,3,4,5}

string_set = set()

for num in integer_set:
    string_val = str(num)
    string_set.add(string_val)
    
print(string_set)

{'1', '5', '2', '4', '3'}

In [24]:
#36. Create a set from a tuple.

In [46]:
tuple1 = (1,2,3,4,5)

tup_to_set = set(tuple1)
print(tup_to_set)

{1, 2, 3, 4, 5}

In [25]:
#37. Convert a set to a tuple.

In [49]:
my_set = {1,2,3,4,5,6,7}

set_to_tup = tuple(my_set)
print("original set :",my_set)
print("converted tuple :",set_to_tup)

original set : {1, 2, 3, 4, 5, 6, 7}
converted tuple : (1, 2, 3, 4, 5, 6, 7)

In [26]:
#38. Find the maximum value in a set.

In [50]:
my_set = {15,8,90,12,34}

max(my_set)

90

In [27]:
#39. Find the minimum value in a set.

In [2]:
my_set = {45,2,6,3,4,5}

min_va = None

for i in my_set:
    if min_va is None or i<min_va:
        min_va = i
        
print(min_va)

2

In [28]:
#40. Create a set from user input.

In [5]:
input_set = set(input("inter the element"))

print("user input set :",input_set)

inter the element 789

user input set : {'7', '9', '8'}

In [29]:
#41. Check if the intersection of two sets is empty.

In [7]:
set1 = {1,2,3,4,5}
set2 = {4,5,6,7,8}

intersection_result = set1.intersection(set2)

if not intersection_result:
    print("the intersection of the two sets is empty")
else:
    print("the intersection of the two is not empty.")

the intersection of the two is not empty.

In [30]:
#42. Create a set of the first 5 Fibonacci numbers.

In [10]:
fibonacci_set = set()

a, b = 0,1

for i in range(6):
    fibonacci_set.add(a)
    
    a,b = b, a+b
    
print("set of the first 5 Fibonacci numbers:", fibonacci_set)

set of the first 5 Fibonacci numbers: {0, 1, 2, 3, 5}

In [11]:
#43. Remove duplicates from a list using sets.

In [12]:
my_list = [1,4,3,3,2,5,5,5,8,8,22]

remove_duplicates = set(my_list)

print("remove duplicate from list using set:",remove_duplicates)

remove duplicate from list using set: {1, 2, 3, 4, 5, 8, 22}

In [32]:
#44. Check if two sets have the same elements, regardless of their count.

In [15]:
def have_same_elements(set1, set2):
    sorted_list1 = sorted(list(set1))
    sorted_list2 = sorted(list(set2))
    
    return sorted_list1 == sorted_list2

set1 = {1,2,3,2,1}
set2 = {3,1,2}

result = have_same_elements(set1, set2)

if result:
    print("The sets have the same elements.")
    
else:
    print("The sets do not have the same elements. ")

The sets have the same elements.

In [33]:
#45. Create a set of the first `n` powers of 2.

In [23]:
def generate_powers_of_2(n):
    power_of_2 = set()
    
    for i in range(n):
        power = 2 **i
        
        power_of_2.add(power)
        
        
    return power_of_2

n = 5

powers_set = generate_powers_of_2(n)

print(powers_set)

{1, 2, 4, 8, 16}

In [34]:
#46. Find the common elements between a set and a list.

In [20]:
my_set = {3,7,9,12,15}
my_list = [7,12,5,9]

list_to_set = set(my_list)

common_elements = []

for element in my_set:
    if element in list_to_set:
        common_elements.append(element)
        
print("Common elements:", common_elements)

Common elements: [7, 9, 12]

In [35]:
#47. Create a set of the first `n` triangular numbers.

In [18]:
def generate_tringular_number(n):
    tringular_numbers = set()
    
    for i in range(1, n+1):
        tringular_number = i*(i+1)//2
        tringular_numbers.add(tringular_number)
        
    return tringular_numbers

n = int(input("Enter the value of n:"))

triangular_set = generate_tringular_number(n)

print("the set of the first {n} tringular numbers is:", triangular_set)

Enter the value of n: 5

the set of the first {n} tringular numbers is: {1, 3, 6, 10, 15}

In [36]:
#48. Check if a set contains another set as a subset.

In [70]:
set1 = {1,2,3,4,5}
set2= {3,4}

is_subset = set2.issubset(set1)

if is_subset:
    print("set2 is a subset of set1")
    
else:
    print("set2 is not a subset of set1")

set2 is a subset of set1

In [37]:
#49. Create a set of alternating 1s and 0s of length `n`.

In [69]:
def create_alternating_set(n):
    alternating_set = set()

    for i in range(n):
        if i % 2 == 0:
            alternating_set.add(1)   
        else:
            alternating_set.add(0)  

    return alternating_set

length_n = 10

result = create_alternating_set(length_n)

print(result)

{0, 1}

In [38]:
#50. Merge multiple sets into one.

In [67]:
set1 = {1,2,3}
set2 = {3,4,5}
set3 = {5,6,7}

merge_set = set1.union(set2,set3)
print("Merge set:", merge_set)

Merge set: {1, 2, 3, 4, 5, 6, 7}