In [ ]:
#1.Write a Python program to print the numbers from 1 to 10 using a `for` loop.

In [1]:
for num in range(1,11):
    print(num)

1
2
3
4
5
6
7
8
9
10

In [2]:
#2. Create a program that calculates the sum of all numbers in a list using a `for` loop.

In [7]:
my_list = [7,3,4,8]
element = 0
for i in my_list:
    element += i

print(element)

22

In [8]:
#3 write a program to print the characters of a string in reverse order using a `for` loop.

In [12]:
string1 = "ruman"
x = " "
for i in string1:
    x = i + ' ' + x 
print(x)

n a m u r

In [13]:
#4 Develop a program that finds the factorial of a given number using a for loop.

In [5]:
num = int(input("Enter the number"))

factorial = 1

if num < 0:
    print("Sorry factorial does not exsit")
elif num ==0:
    print("the factorial of 0 is 1")
else:
    for i in range(1, num+1):
         
        factorial = factorial*i
    print("the factorial of",num,"is",factorial)

Enter the number 5

the factorial of 5 is 120

In [14]:
#5

In [17]:
input_num = int(input("Enter the number"))

for i in range(1,11):
    print(i,'*',input_num,'=',i*input_num)

Enter the number 3

1 * 3 = 3
2 * 3 = 6
3 * 3 = 9
4 * 3 = 12
5 * 3 = 15
6 * 3 = 18
7 * 3 = 21
8 * 3 = 24
9 * 3 = 27
10 * 3 = 30

In [18]:
#6

In [20]:
my_list = [1,3,5,9,6,23,12,43,4]

even = 0
odd = 0

for i in my_list:
    if i%2==0:
        even +=1
    else:
        odd +=1
        
print("Total even number in list:", even)
print("Total odd number in list:", odd)

Total even number in list: 3
Total odd number in list: 6

In [23]:
#7
for i in range(1,6):
    square = i**2

    print("square of ",i,"=",square)

square of  1 = 1
square of  2 = 4
square of  3 = 9
square of  4 = 16
square of  5 = 25

In [24]:
#8

In [28]:
user_input_str = str(input("Enter the string"))

string_len = 0

for i in user_input_str :
    string_len += 1
    
print("length of string :",string_len)

Enter the string ruman saba

length of string : 10

In [29]:
#9

In [37]:
import math
my_list = [1,3,4,5,6,10]

sum_of_list = 0
for i in my_list:
    sum_of_list +=i
print(sum_of_list)
print(len(my_list))
avarage_number = sum_of_list/len(my_list)

print("Avarage Number of list:",math.ceil(avarage_number))

29
6
Avarage Number of list: 5

In [38]:
# 10 Develop a program that prints the first `n` Fibonacci numbers using a `for` loop.

In [3]:
first = 0
second = 1
print(first)
print(second)
for i in range(1,5):
    third = first + second
    print(third)
    first, second = second, third
    #print(first,second)

0
1
1
2
3
5

In [39]:
#11

In [11]:
def dublicate(input_list):
    seen = list()
    for item in input_list:
        if item in seen:
            return True
        seen.append(item)
    return False

my_list = [1,2,34,5,5,6]

result = dublicate(my_list)
if result :
    print("this is contain dublicate")
else:
    print("this list not contain dublicate")

this is contain dublicate

In [ ]:
#12.

In [6]:
def is_prime(num):
    if num <= 1:
        return False
    if num == 2:
        return True
    if num % 2 == 0:
        return False
    for i in range(3, int(num**0.5) + 1, 2):
        if num % i == 0:
            return False
    return True

def print_primes_in_range(start, end):
    if start < 2:
        start = 2
    print(f"Prime numbers between {start} and {end}:")
    for num in range(start, end + 1):
        if is_prime(num):
            print(num, end=' ')

start = int(input("Enter the start of the range: "))
end = int(input("Enter the end of the range: "))

print_primes_in_range(start, end)

Enter the start of the range:  2
Enter the end of the range:  43

Prime numbers between 2 and 43:
2 3 5 7 11 13 17 19 23 29 31 37 41 43

In [50]:
#13

In [54]:
my_str = "rumansaba"

vowel = 'aeiou'
count = 0
for i in my_str:
    if i in vowel:
        count +=1
        
print("vowel in my string:",count)

vowel in my string: 4

In [55]:
#14

In [4]:
matrix = [
    [12, 45, 67, 23],
    [54, 32, 98, 78],
    [90, 87, 56, 43]
]

max_element = matrix[0][0]

for row in matrix:
    for element in row:
        if element > max_element:
            max_element = element

print("The maximum element in the 2D list is:", max_element)

The maximum element in the 2D list is: 98

In [ ]:
#15

In [3]:
my_list = [1, 2, 3, 4, 2, 5, 2, 6, 7, 2]

element_to_remove = 2

new_list = []

for item in my_list:
    if item != element_to_remove:
        new_list.append(item)

print("Original list:", my_list)
print("List after removing all occurrences of", element_to_remove, ":", new_list)

Original list: [1, 2, 3, 4, 2, 5, 2, 6, 7, 2]
List after removing all occurrences of 2 : [1, 3, 4, 5, 6, 7]

In [5]:
#16

In [4]:
start = 1
end = 5

for i in range(start, end + 1):
    print(f"Multiplication table for {i}:")
    for j in range(1, 11):  
        result = i * j
        print(f"{i} x {j} = {result}")
    print()

Multiplication table for 1:
1 x 1 = 1
1 x 2 = 2
1 x 3 = 3
1 x 4 = 4
1 x 5 = 5
1 x 6 = 6
1 x 7 = 7
1 x 8 = 8
1 x 9 = 9
1 x 10 = 10

Multiplication table for 2:
2 x 1 = 2
2 x 2 = 4
2 x 3 = 6
2 x 4 = 8
2 x 5 = 10
2 x 6 = 12
2 x 7 = 14
2 x 8 = 16
2 x 9 = 18
2 x 10 = 20

Multiplication table for 3:
3 x 1 = 3
3 x 2 = 6
3 x 3 = 9
3 x 4 = 12
3 x 5 = 15
3 x 6 = 18
3 x 7 = 21
3 x 8 = 24
3 x 9 = 27
3 x 10 = 30

Multiplication table for 4:
4 x 1 = 4
4 x 2 = 8
4 x 3 = 12
4 x 4 = 16
4 x 5 = 20
4 x 6 = 24
4 x 7 = 28
4 x 8 = 32
4 x 9 = 36
4 x 10 = 40

Multiplication table for 5:
5 x 1 = 5
5 x 2 = 10
5 x 3 = 15
5 x 4 = 20
5 x 5 = 25
5 x 6 = 30
5 x 7 = 35
5 x 8 = 40
5 x 9 = 45
5 x 10 = 50

In [7]:
#17

In [8]:
fahrenheit_temperatures = [32, 68, 86, 104, 212]

celsius_temperatures = []

for fahrenheit in fahrenheit_temperatures:
    celsius = (fahrenheit - 32) * 5/9
    celsius_temperatures.append(celsius)

for i in range(len(fahrenheit_temperatures)):
    print(f"{fahrenheit_temperatures[i]}°F is equal to {celsius_temperatures[i]:.2f}°C")

32°F is equal to 0.00°C
68°F is equal to 20.00°C
86°F is equal to 30.00°C
104°F is equal to 40.00°C
212°F is equal to 100.00°C

In [9]:
#18

In [10]:
list1 = [1, 2, 3, 4, 5]
list2 = [3, 4, 5, 6, 7]

common_elements = []

for element in list1:
    if element in list2:
        common_elements.append(element)

print("Common elements in the two lists:", common_elements)

Common elements in the two lists: [3, 4, 5]

In [11]:
#19

In [9]:
num_rows = 5

for i in range(1, num_rows + 1):
    for j in range(1, i + 1):
        print("*", end=" ")  
    print()

*
* *
* * *
* * * *
* * * * *

In [14]:
#20

In [15]:
def find_gcd(a, b):
    while b:
        a, b = b, a % b
    return a

# Input two numbers
num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))

gcd = find_gcd(num1, num2)
print(f"The GCD of {num1} and {num2} is {gcd}")

Enter the first number:  98
Enter the second number:  200

The GCD of 98 and 200 is 2

In [16]:
#21

In [17]:
numbers = [123, 456, 789]

sum_of_digits = [sum(int(digit) for digit in str(num)) for num in numbers]

for i in range(len(numbers)):
    print(f"The sum of digits in {numbers[i]} is {sum_of_digits[i]}")

The sum of digits in 123 is 6
The sum of digits in 456 is 15
The sum of digits in 789 is 24

In [18]:
#22

In [20]:
def prime_factors(n):
    factors = []
    divisor = 2
    while n > 1:
        while n % divisor == 0:
            factors.append(divisor)
            n //= divisor
        divisor += 1
    return factors

# Input a number
num = int(input("Enter a number: "))

factors = prime_factors(num)
print(f"The prime factors of {num} are: {factors}")

Enter a number:  4

The prime factors of 4 are: [2, 2]

In [21]:
#23

In [22]:
my_list = [1, 2, 2, 3, 4, 4, 5, 5]

unique_elements = list(set(my_list))

print("Original list:", my_list)
print("Unique elements:", unique_elements)

Original list: [1, 2, 2, 3, 4, 4, 5, 5]
Unique elements: [1, 2, 3, 4, 5]

In [23]:
#24

In [24]:
def is_palindrome(number):
    return str(number) == str(number)[::-1]

limit = 1000  

palindromic_numbers = [num for num in range(1, limit + 1) if is_palindrome(num)]

print("Palindromic numbers up to", limit, "are:", palindromic_numbers)

Palindromic numbers up to 1000 are: [1, 2, 3, 4, 5, 6, 7, 8, 9, 11, 22, 33, 44, 55, 66, 77, 88, 99, 101, 111, 121, 131, 141, 151, 161, 171, 181, 191, 202, 212, 222, 232, 242, 252, 262, 272, 282, 292, 303, 313, 323, 333, 343, 353, 363, 373, 383, 393, 404, 414, 424, 434, 444, 454, 464, 474, 484, 494, 505, 515, 525, 535, 545, 555, 565, 575, 585, 595, 606, 616, 626, 636, 646, 656, 666, 676, 686, 696, 707, 717, 727, 737, 747, 757, 767, 777, 787, 797, 808, 818, 828, 838, 848, 858, 868, 878, 888, 898, 909, 919, 929, 939, 949, 959, 969, 979, 989, 999]

In [25]:
#25

In [26]:
# Sample nested list
nested_list = [1, [2, 3, [4, 5]], 6, [7, [8]], 9]

def flatten_list(nested):
    return [item for sublist in nested for item in (sublist if isinstance(sublist, list) else [sublist])]

flattened_list = flatten_list(nested_list)

print("Original nested list:", nested_list)
print("Flattened list:", flattened_list)

Original nested list: [1, [2, 3, [4, 5]], 6, [7, [8]], 9]
Flattened list: [1, 2, 3, [4, 5], 6, 7, [8], 9]

In [27]:
#26

In [28]:
# Sample list of numbers
numbers = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

sum_even = sum([num for num in numbers if num % 2 == 0])
sum_odd = sum([num for num in numbers if num % 2 != 0])

print("List of numbers:", numbers)
print("Sum of even numbers:", sum_even)
print("Sum of odd numbers:", sum_odd)

List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Sum of even numbers: 30
Sum of odd numbers: 25

In [29]:
#27

In [30]:
squares_of_odd = [num**2 for num in range(1, 11) if num % 2 != 0]

print("List of squares of odd numbers:", squares_of_odd)

List of squares of odd numbers: [1, 9, 25, 49, 81]

In [31]:
#28

In [32]:
# Sample lists
keys = ['a', 'b', 'c']
values = [1, 2, 3]

result_dict = {key: value for key, value in zip(keys, values)}

print("Combined dictionary:", result_dict)

Combined dictionary: {'a': 1, 'b': 2, 'c': 3}

In [33]:
#29

In [34]:
text = "Hello, how are you today?"

vowels = [char for char in text if char.lower() in "aeiou"]

print("Original string:", text)
print("Vowels in the string:", vowels)

Original string: Hello, how are you today?
Vowels in the string: ['e', 'o', 'o', 'a', 'e', 'o', 'u', 'o', 'a']

In [35]:
#30

In [36]:
strings = ["abc123", "456xyz", "789", "text42", "7.5"]

numeric_strings = [''.join(filter(str.isdigit, s)) for s in strings]

print("Original list of strings:", strings)
print("List of numeric strings:", numeric_strings)

Original list of strings: ['abc123', '456xyz', '789', 'text42', '7.5']
List of numeric strings: ['123', '456', '789', '42', '75']

In [37]:
#31

In [38]:
def sieve_eratosthenes(limit):
    sieve = [True] * (limit + 1)
    sieve[0] = sieve[1] = False
    for num in range(2, int(limit**0.5) + 1):
        if sieve[num]:
            for multiple in range(num * num, limit + 1, num):
                sieve[multiple] = False
    return [num for num, is_prime in enumerate(sieve) if is_prime]

limit = 50  

prime_numbers = sieve_eratosthenes(limit)

print("List of prime numbers up to", limit, ":", prime_numbers)

List of prime numbers up to 50 : [2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47]

In [39]:
#32

In [40]:
def generate_pythagorean_triplets(limit):
    triplets = [(a, b, c) for a in range(1, limit + 1) for b in range(a, limit + 1)
                for c in range(b, limit + 1) if a**2 + b**2 == c**2]
    return triplets

limit = 20  

pythagorean_triplets = generate_pythagorean_triplets(limit)

print("List of Pythagorean triplets up to", limit, ":", pythagorean_triplets)

List of Pythagorean triplets up to 20 : [(3, 4, 5), (5, 12, 13), (6, 8, 10), (8, 15, 17), (9, 12, 15), (12, 16, 20)]

In [41]:
#33

In [42]:
from itertools import product

list1 = [1, 2, 3]
list2 = ['a', 'b']

combinations = [(x, y) for x, y in product(list1, list2)]

print("All possible combinations of the two lists:", combinations)

All possible combinations of the two lists: [(1, 'a'), (1, 'b'), (2, 'a'), (2, 'b'), (3, 'a'), (3, 'b')]

In [43]:
#34

In [44]:
from statistics import mean, median, mode

numbers = [1, 2, 2, 3, 4, 5, 5, 6, 6]

mean_value = mean(numbers)
median_value = median(numbers)
mode_value = mode(numbers)

print("List of numbers:", numbers)
print("Mean:", mean_value)
print("Median:", median_value)
print("Mode:", mode_value)

List of numbers: [1, 2, 2, 3, 4, 5, 5, 6, 6]
Mean: 3.7777777777777777
Median: 4
Mode: 2

In [45]:
#35

In [46]:
from math import comb

def generate_pascals_triangle(num_rows):
    triangle = [[comb(n, k) for k in range(n + 1)] for n in range(num_rows)]
    return triangle

num_rows = 5  

pascals_triangle = generate_pascals_triangle(num_rows)

for row in pascals_triangle:
    print(row)

[1]
[1, 1]
[1, 2, 1]
[1, 3, 3, 1]
[1, 4, 6, 4, 1]

In [47]:
#36

In [48]:
sentence = "This is a sample sentence with words of different lengths."

longest_word = max(sentence.split(), key=lambda word: len(word))

print("Sentence:", sentence)
print("Longest word:", longest_word)

Sentence: This is a sample sentence with words of different lengths.
Longest word: different

In [49]:
#37

In [50]:
sentence = "This is a sample sentence with words of different lengths."

longest_word = max(sentence.split(), key=lambda word: len(word))

print("Sentence:", sentence)
print("Longest word:", longest_word)

Sentence: This is a sample sentence with words of different lengths.
Longest word: different

In [51]:
#38

In [52]:
strings = ["apple", "banana", "grapefruit", "cherry", "pear", "strawberry", "kiwi"]

filtered_strings = [s for s in strings if sum(1 for char in s if char.lower() in "aeiou") > 3]

print("Original list of strings:", strings)
print("Filtered strings:", filtered_strings)

Original list of strings: ['apple', 'banana', 'grapefruit', 'cherry', 'pear', 'strawberry', 'kiwi']
Filtered strings: ['grapefruit']

In [53]:
#39

In [54]:
# Calculate the sum of digits of numbers from 1 to 1000 using list comprehension
sum_of_digits = [sum(int(digit) for digit in str(n)) for n in range(1, 1001)]

print("List of numbers:", list(range(1, 1001)))
print("Sum of digits of numbers:", sum_of_digits)

List of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99, 100, 101, 102, 103, 104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116, 117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129, 130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142, 143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155, 156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168, 169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 276, 277, 278, 279, 280, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 293, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 413, 414, 415, 416, 417, 418, 419, 420, 421, 422, 423, 424, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700, 701, 702, 703, 704, 705, 706, 707, 708, 709, 710, 711, 712, 713, 714, 715, 716, 717, 718, 719, 720, 721, 722, 723, 724, 725, 726, 727, 728, 729, 730, 731, 732, 733, 734, 735, 736, 737, 738, 739, 740, 741, 742, 743, 744, 745, 746, 747, 748, 749, 750, 751, 752, 753, 754, 755, 756, 757, 758, 759, 760, 761, 762, 763, 764, 765, 766, 767, 768, 769, 770, 771, 772, 773, 774, 775, 776, 777, 778, 779, 780, 781, 782, 783, 784, 785, 786, 787, 788, 789, 790, 791, 792, 793, 794, 795, 796, 797, 798, 799, 800, 801, 802, 803, 804, 805, 806, 807, 808, 809, 810, 811, 812, 813, 814, 815, 816, 817, 818, 819, 820, 821, 822, 823, 824, 825, 826, 827, 828, 829, 830, 831, 832, 833, 834, 835, 836, 837, 838, 839, 840, 841, 842, 843, 844, 845, 846, 847, 848, 849, 850, 851, 852, 853, 854, 855, 856, 857, 858, 859, 860, 861, 862, 863, 864, 865, 866, 867, 868, 869, 870, 871, 872, 873, 874, 875, 876, 877, 878, 879, 880, 881, 882, 883, 884, 885, 886, 887, 888, 889, 890, 891, 892, 893, 894, 895, 896, 897, 898, 899, 900, 901, 902, 903, 904, 905, 906, 907, 908, 909, 910, 911, 912, 913, 914, 915, 916, 917, 918, 919, 920, 921, 922, 923, 924, 925, 926, 927, 928, 929, 930, 931, 932, 933, 934, 935, 936, 937, 938, 939, 940, 941, 942, 943, 944, 945, 946, 947, 948, 949, 950, 951, 952, 953, 954, 955, 956, 957, 958, 959, 960, 961, 962, 963, 964, 965, 966, 967, 968, 969, 970, 971, 972, 973, 974, 975, 976, 977, 978, 979, 980, 981, 982, 983, 984, 985, 986, 987, 988, 989, 990, 991, 992, 993, 994, 995, 996, 997, 998, 999, 1000]
Sum of digits of numbers: [1, 2, 3, 4, 5, 6, 7, 8, 9, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 1]

In [55]:
#40

In [10]:
def is_prime(n):
    if n <= 1:
        return False
    if n <= 3:
        return True
    if n % 2 == 0 or n % 3 == 0:
        return False
    i = 5
    while i * i <= n:
        if n % i == 0 or n % (i + 2) == 0:
            return False
        i += 6
    return True

def is_palindrome(n):
    return str(n) == str(n)[::-1]

prime_palindromic_numbers = [n for n in range(1, 1000) if is_prime(n) and is_palindrome(n)]

print("List of prime palindromic numbers up to 1000:", prime_palindromic_numbers)

List of prime palindromic numbers up to 1000: [2, 3, 5, 7, 11, 101, 131, 151, 181, 191, 313, 353, 373, 383, 727, 757, 787, 797, 919, 929]